/* @import 'tailwindcss'; */

@layer components {
  .flex-row-center {
    @apply flex justify-center items-center;
  }

  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }

  .w-h-full {
    @apply w-full h-full;
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Noto Sans KR", sans-serif;
}

* {
  font-weight: 600;
}

body {
  margin: 0;
}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
